This an example for an .env file that you must create in order for endpoint.py to connect to a Gemini AI 

1. Create a .env file
2. Follow this format:

GOOGLE_API_KEY = you_api_key
GEMINI_MODEL=gemini-2.5-flash
